{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "global-require": 0,
    "comma-dangle": 0,
    "wrap-iife": ["error", "inside"],
    "implicit-arrow-linebreak": "warn"
  }
}
