{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "global-require": 0,
    "comma-dangle": 0,
    "wrap-iife": ["error", "inside"],
    "implicit-arrow-linebreak": "warn",
    "@typescript-eslint/no-explicit-any": 2,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "@typescript-eslint/no-empty-function": 0
  }
}
